/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 25, 2025, 3:27:32 PM
    Author     : Admin
*/
:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --primary-color: #78ae39;
    --star-gold-color: #FFCE3E;
    --header-search-height: 70px;
    --header-sortbar-height: 50px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    line-height: 16px;
}

.header {
    background: linear-gradient(to top, #FFCE3E, #fdd202);
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.container {
}

.home-logo {
    height: auto;
    max-width: 96px;
    margin-top: 10px;
}

.header__navbar-item {
    margin: 10px;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    z-index: 3;
    font-size: 1.4rem;
    position: relative;
}

/* For navbar user after login */
.navbar__user {
    display: flex;
    align-items: center;
}

.navbar__user--img {
    height: 21px;
    width: 21px;
    border-radius: 16px;
    margin-top: -3px;
    margin-left: 6px;
}

.navbar__user--name {
    margin-left: 8px;
    font-size: 16px;
    padding: 0px 12px;
    margin: 3px 0px;
    color: #713d3d;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    width: 100%;
    position: relative;
    top: -1px;
}

/* Drop user table */
.navbar__user--info {
    position: absolute;
    background-color: var(--white-color);
    z-index: 2;
    top: 66px;
    right: 0px;
    width: 134px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px var(--text-color);
    border-radius: 2px;
    position: absolute;
    display: none;
}

.navbar__user--info::before {
    content: "";
    position: absolute;
    border: 15px solid var(--white-color);
    border-color: transparent transparent var(--white-color) transparent;
    z-index: -1;
    top: -24px;
    right: 8px;
}

.navbar__info--wrapper {
}

.navbar__info--wrapper a:hover {
    color: #00c414;
    cursor: pointer;
}

.navbar__info--wrapper a {
    display: block;
    width: 100%;
    padding: 10px 12px;
    font-size: 1.4rem;
}

.navbar__info--wrapper a:last-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.navbar__info--item {
    text-decoration: none;
    color: var(--black-color);
    font-weight: 400;
}

/* Hover to display user info */
.header__navbar-item.navbar__user:hover .navbar__user--info {
    display: block;
}

.mainmenu {
    min-width: 150px;
    background-color: #551f1f;
    height: auto;
}

.mainmenu-list {
    list-style: none;
    display: flex;
    width: auto;
    flex-direction: column;
    min-height: 100%;
    padding: 0;

}

.mainmenu__list-item {
    width: 100%;
    position: relative;
    unicode-bidi: isolate;
    display: flex;
    border-radius: 5px;
    text-align: center;
    height: 40px;
    text-align: start;
    align-items: center;
}

.list-item-icon {
    font-size: 15px;
    color: wheat;
    margin-right: 8px;
    width: 20px;
}

.mainmenu__list-item>a {
    padding: 0px 12px;
    margin: 3px 0px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 10px;
}

.mainmenu__list-item:hover {
    background-color: var(--primary-color);
}

.mainmenu__list-item:hover a{
    color: #fdd202;
}

.mainmenu__list-item:hover .list-item-icon {
    color: white;
}

a {
    text-decoration: none;
    outline: 0;
    border: none;
    cursor: pointer;
}


/* homepage-body */
.homepage-body {
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 20px;
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid #DCE0E3;
    margin-bottom: 20px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-bottom: 60px;
    flex: 1;
    min-height: calc(86vh - 150px);
}

.body-container {
    display: flex;
    flex-direction: row;
}

.body-head {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f0f3f5;
    border: 1px solid #c8ced3;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
}

.body__head-title {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.body__head-text {
    margin-left: 3px;
    opacity: 0.5;
}
/* search */
.search-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.search-input {
    width: 500px; /* Độ dài thanh tìm kiếm */
    padding: 8px 12px; /* Padding cho nội dung bên trong */
    border: 1px solid var(--border-color); /* Viền cho thanh tìm kiếm */
    border-radius: 4px; /* Bo góc */
    font-size: 14px; /* Kích thước chữ */
}

.search-icon {
    margin-left: 10px; /* Khoảng cách giữa ô tìm kiếm và biểu tượng */
    cursor: pointer; /* Thay đổi con trỏ khi di chuột qua */
    color: var(--primary-color); /* Màu sắc biểu tượng */
    font-size: 16px; /* Kích thước biểu tượng */
}

.search-input:focus {
    outline: none; /* Bỏ viền khi ô tìm kiếm được chọn */
    border-color: var(--primary-color); /* Đổi màu viền khi ô tìm kiếm được chọn */
}

.search-button {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
    margin-left: -4px;
}

.search-button:hover {
    background-color: #66c32c; /* Màu xanh lá đậm hơn khi hover */
}

.toast-message {
    position: fixed;
    top: 20px; /* Đưa thông báo lên góc trên */
    right: 20px; /* Căn lề phải */
    background: #dc3545; /* Màu xanh lá */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    opacity: 1;
    transition: opacity 0.5s ease-out;
    z-index: 1000;
    display: none;
}
/*sorting*/
.sort-dropdown{
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  padding: 6px 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  margin-left: 40px;
  outline: none;
}

.dropdown-default{
    color: black;
}
.sort-dropdown option:hover{
    background-color: #551f1f;
}
/* add btn */
.add-product-button {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
    margin-left: 48px;
}

.add-product-button:hover {
    background-color: #66c32c;
}

/* Table */
.table-container {
    margin: 20px 0;
    overflow-x: auto; /* Giúp bảng có thể cuộn trên màn hình nhỏ */
}

.product-table {
    width: 100%;
    border-collapse: collapse; /* Gộp các đường viền của ô */
    background-color: var(--white-color);
    max-height: calc(100vh - 200px); /* Điều chỉnh chiều cao phù hợp */
    overflow-y: auto; /* Cho phép cuộn */
}

.table-header {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.table-header-item {
    padding: 12px;
    text-align: left;
    font-weight: bold;
    border: 1px solid var(--border-color);
}

.table-row {
    transition: background-color 0.3s; /* Hiệu ứng chuyển đổi màu nền */
}

.table-row:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Màu nền khi di chuột qua hàng */
}

.table-cell {
    padding: 12px;
    border: 1px solid var(--border-color);
}


.product-image {
    width: 50px; /* Chiều rộng ảnh sản phẩm */
    height: auto; /* Tự động điều chỉnh chiều cao */
}

.action-button {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #66c32c;
}

/* Page */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-controls {
    display: flex;
    align-items: center;
}

.pagination-button {
    padding: 10px 15px;
    margin: 0 90px;
    background-color: #78ae39;
    color: white;
    cursor: pointer;
    width: 68px;
    border-radius: 3px;
}

.pagination-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pagination-info {
    font-size: 16px;
    margin: 0 36px;
}


/* Footer */
.footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    height:46px;
    background: linear-gradient(to top, #FFCE3E, #fdd202);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.table-container {
    margin: 20px 0;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 600px; /* Set a maximum height for the table, responsive point */
}

/* Ensure the product images are responsive */
.product-image {
    max-width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
}




/* Modal */
.modal {
    display: none; /* Ẩn modal theo mặc định */
    position: fixed; /* Đặt modal ở vị trí cố định */
    z-index: 1000; /* Đảm bảo modal nằm trên các phần tử khác */
    left: 0;
    top: 0;
    width: 100%; /* Toàn bộ chiều rộng */
    height: 100%; /* Toàn bộ chiều cao */
    overflow: auto; /* Cuộn nếu cần */
    background-color: rgba(0, 0, 0, 0.5); /* Nền mờ */
}

.modal-content {
    background-color: #fff; /* Nền trắng cho nội dung modal */
    margin: 15% auto; /* Đặt giữa màn hình */
    padding: 20px;
    border: 1px solid var(--border-color);
    width: 80%; /* Chiều rộng modal */
    max-width: 600px; /* Đặt chiều rộng tối đa */
    border-radius: 8px; /* Bo góc cho modal */
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.modal-product-image {
    width: 100px; /* Chiều rộng hình ảnh sản phẩm trong modal */
    height: auto; /* Tự động điều chỉnh chiều cao */
    margin-bottom: 15px; /* Khoảng cách dưới hình ảnh */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.add-product-button {
    display: inline-block;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    box-shadow: 0 1px 1px var(--text-color);
    z-index: 2;
    margin-top: 7px; /* Cách giữa nút và hộp */
    right: 36px;
    border-radius: 2px;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    color: #000000; /* Màu chữ xanh */
    padding: 10px;
    text-decoration: none;
    text-align: left;
    display: block;
    padding: 10px;
    width: 76px;
    font-size: 16px;
}

.dropdown-content a:hover {
    color: #00c414;
    cursor: pointer;
}
.addorder__btn{
    padding: 14px;
    position: relative;
}

/* Hiện hộp dropdown khi hover vào nút */
.addorder__btn:hover .dropdown {
    display: block;
}


.dropdown::after {
    content: "";
    position: absolute;
    top: -21px; /* Điều chỉnh vị trí của mũi tên */
    left: 76%; /* Căn giữa */
    margin-left: -5px; /* Giảm chiều rộng để căn giữa */
    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent; /* Màu nền của mũi tên */
    padding: 2px;
    
}

.form-group {
    margin-bottom: 15px;
    margin-right: 22px;
}

.form-group {
    margin-right: 18px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align labels to the left */
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #6b4423; /* Brown color for rice theme */
}

.form-group input,
.form-group textarea {
    width: 100%; /* Make all input fields the same length and centered */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.customer-info {
    display: flex;
    flex-direction: column; /* Căn dọc */
    align-items: flex-start; /* Căn trái */
    gap: 5px; /* Khoảng cách giữa các dòng */
    font-size: 16px;
}

.customer-name a {
    font-weight: bold;
    color: #000; /* Màu đen */
    text-decoration: none;
}

.customer-name a:hover {
    text-decoration: underline;
    color: #000; /* Giữ nguyên màu đen khi hover */
}

.customer-wallet {
    font-size: 14px;
    color: #000; /* Màu đen */
}